/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}


.box{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
