/* CSS stylesheet  for application */
table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding: 15px;
}

th, td {
    border: 1px solid silver;
    padding: 15px;
}

.box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* stilling for signup page */
.index_grid{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 15px;
}

/* stilling for signup page */
.signup_form {
    max-width: 550px;
    margin-inline: auto;
}

.align-center {
    text-align: center;
}

.address {
    padding-left: 3%;
}

.last_name {
    padding-left: 3%;
}

.first_name {
    padding-left: 3%;
}

.email {
    padding-left: 3%;
}

.phone_number {
    padding-left: 3%;
}

.password {
    padding-left: 3%;
}

.zip {
    padding-left: 3%;
}

.city {
    padding-left: 3%;
}

.signup {
    margin-top: 2%;
    padding-left: 9%;
    margin-left: 8%;
}

/* stylling for login */
.login {
    margin-top: 3%;
}

.btn {
    margin-left: 20%;
}

.signupKnap {
    padding-left: 10%;
}

.d-inline {
    padding-left: 10%;
}

/* styling for admin homepage */
.kunde {
    margin-top: 3%;
    padding-left: 5%;
}

.order {
    margin-top: 3%;
    padding-left: 5%;
}

.ubehandletorder {
    margin-top: 3%;
    padding-left: 5%;
}


/* styling for admin homepage */
.griddy {

    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color:#808080;
    z-index: 1;
}

.homepage_grid_box {
}

.box_width {
    width: 85%;
}

.homepage_grid_box:nth-child(2) {
    margin-left: -60px; /* Rykke venstre margin på Ubehandlet ordre liste kolonnen */
}

.scrollable-table {
    max-height: 40vw;
    overflow-y: auto;
    border: 1px solid silver;
}


/* styling for admingviewuser */

/* har fået griddy klassen fra admin homepage */

/* styling for index homepage */
.dropdown-container {
    margin-bottom: 15px; /* Juster dette til den ønskede mellemrumshøjde */
}
